.home-container {
  min-height: 100vh;
  padding: 40px;
  background: #f3f4f6;
}

.home-title {
  text-align: center;
  margin-bottom: 30px;
}

.post-card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}

.post-card h3 {
  margin-bottom: 5px;
}

.email {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}