.home-container {
  background-color: #f3f4f6;
  min-height: 100vh;
  padding: 40px 20px;
}

.home-title{
  padding-left: 590px;
  align-items: center;
}
.post-box {
  background: white;
  max-width: 550px;
  margin: 0 auto 25px auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 10px;
  border: 1px solid #e5e7eb;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  width: 45px;
  height: 45px;
  background: #4f46e5;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-right: 12px;
}

.user-meta h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #111827;
}

.post-email {
  margin: 0;
  font-size: 0.85rem;
  color: #6b7280;
}

.post-content {
  font-size: 1rem;
  line-height: 1.6;
  color: #374151;
  border-bottom: 1px solid #f3f4f6;
}

.post-footer {
  padding-top: 15px;
}

.comment-input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.comment-input-row input {
  flex: 1;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  padding: 10px 15px;
  outline: none;
}

.comment-input-row button {
  background: none;
  border: none;
  color: #4f46e5;
  font-weight: 700;
  cursor: pointer;
}

.comment-item {
  background: #f3f4f6;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 8px;
  font-size: 0.9rem;
}

.comment-user {
  font-weight: bold;
  color: #4f46e5;
}
.post-header {
  position: relative;
}

.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0.6;
}

.delete-btn:hover {
  opacity: 1;
  color: red;
}

.like-btn {
  margin-top: 10px;
  padding: 5px 12px;
  border: none;
  background-color: #ff4d6d;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.like-btn:hover {
  opacity: 0.8;
}